.vertical-divider {
    border-left: 1px solid #0d6efd;
    height: 100%;
    position: absolute;
    left: 50%;
}

.horizontal-divider {
    border-top: 1px solid #0d6efd;
    width: 100%;
    position: relative;
    top: 50%;
}

.btn-primary:hover {
    background-color: #0b5ed7;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #6c757d;
    transition: background-color 0.3s ease;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}

.user-message {
    display: flex;
    justify-content: flex-end;
    background-color: #e6f7ff;
    color: #1890ff;
}

.user-message .avatar {
    order: 2;
    margin-left: 10px;
}

.bot-message {
    background-color: #f6ffed;
    color: #52c41a;
}

.bot-message .avatar {
    border: 2px solid #52c41a;
    border-radius: 50%;
    padding: 2px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
